version: '3'

volumes:
  postgres-data:
  elasticsearch-data:
  static_files:
  nginx-data:

services:
  selenium:
    image: selenium/hub:3.11.0-dysprosium
    container_name: selenium
    restart: unless-stopped
    ports:
      - 4444:4444
      - 5900:5900

  postgres:
    image: camptocamp/postgres:9.5
    container_name: postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=qcat
      - POSTGRES_PASSWORD=qcat
      - APP_DB_USER=qcat
      - APP_DB_PASS=qcat
      - APP_DB_NAME=qcat
    networks:
      default:
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    command: /bin/sh -c "redis-server --requirepass $$REDIS_PASSWORD"
    env_file: ./envs/REDIS_HOST
    
  
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.5.2
    container_name: elasticsearch
    restart: unless-stopped
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300

  qcat:
    build:
      context: .
      dockerfile: ./docker_compose/web/Dockerfile.production
    image: qcat:dev
    container_name: qcat
#    environment:
      # Environment variables for django are set in the entrypoint.sh script.
#      - PYTHONPATH=/code/apps
 #   command: ["gunicorn", "-c", "conf/gunicorn_config.py", "qcat.wsgi"]
#    entrypoint: ["./docker_compose/web/entrypoint.sh", "build"]
    volumes:
      - .:/app
      - static_files:/static
      - /qcat_data/upload/:/upload
    ports:
      - 8000:8000
    depends_on:
      - postgres
      - elasticsearch
      - redis
      - selenium

  nginx:
    build: ./nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - static_files:/static
      - /qcat_data/upload/:/upload
      - /etc/letsencrypt/live/qcat-dev.wocat.net/fullchain.pem:/etc/letsencrypt/live/qcat-dev.wocat.net/fullchain.pem
      - /etc/letsencrypt/live/qcat-dev.wocat.net/privkey.pem:/etc/letsencrypt/live/qcat-dev.wocat.net/privkey.pem
      - nginx-data:/etc/nginx/
      - /var/log/nginx/reverse-access.log:/var/log/nginx/reverse-access.log
      - /var/log/nginx/reverse-error.log:/var/log/nginx/reverse-error.log
    depends_on:
      - qcat

