version: '3'

volumes:
  postgres-data:
  elasticsearch-data:
  static_files:
  nginx-data:

services:
  selenium:
    image: selenium/hub:3.11.0-dysprosium
    container_name: selenium
    restart: unless-stopped
    ports:
      - 4444:4444
      - 5900:5900

  postgres:
    image: camptocamp/postgres:9.5
    container_name: postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    env_file:
      - ./envs/POSTGRES_HOST
    networks:
      default:
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    command: /bin/sh -c "redis-server --requirepass $$REDIS_PASSWORD"
    env_file: ./envs/REDIS_HOST
    
  
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.5.2
    container_name: elasticsearch
    restart: unless-stopped
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300

  qcat:
    build:
      context: .
      dockerfile: ./Dockerfile.prod
    image: qcat:dev
    container_name: qcat
    volumes:
      - static_files:/static
      - /qcat_data/wocat_bucket:/upload
    depends_on:
      - postgres
      - elasticsearch
      - redis
      - selenium

  nginx:
    build: ./nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - static_files:/static
      - /qcat_data/wocat_bucket:/upload
      - /etc/letsencrypt/live/qcat-dev.wocat.net/fullchain.pem:/etc/letsencrypt/live/qcat-dev.wocat.net/fullchain.pem
      - /etc/letsencrypt/live/qcat-dev.wocat.net/privkey.pem:/etc/letsencrypt/live/qcat-dev.wocat.net/privkey.pem
      - nginx-data:/etc/nginx/
      - /var/log/nginx/reverse-access.log:/var/log/nginx/reverse-access.log
      - /var/log/nginx/reverse-error.log:/var/log/nginx/reverse-error.log
    depends_on:
      - qcat

