{% extends 'wocat/base.html' %}

{% load compress %}
{% load i18n %}
{% load sekizai_tags %}
{% load static %}
{% load leaflet_tags %}
{% load questionnaire_tags %}


{% block content %}

<section class="home-slider row large-no-gutters">
  <div class="row">
    <div class="large-12 columns">
      <div class="orbit-container">

        <ul data-orbit data-options="
          animation:slide;
          pause_on_hover:true;
          timer_speed:5000;
          animation_speed:1000;
          navigation_arrows:true;
          bullets:false;
          slide_number:false;
          autoplay:true;
          resume_on_mouseout: false;">
          {# Orbit 1 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_1.jpg' %}" alt="slide 1" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "is the primary recommended database by UNCCD" %}</p>
            </div>
          </li>
          {# Orbit 2 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_2.jpg' %}" alt="slide 2" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "is open access and contains over 2000 SLM practices" %}</p>
            </div>
          </li>
          {# Orbit 3 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_3.jpg' %}" alt="slide 3" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "is a standardized and modular system" %}</p>
            </div>
          </li>
          {# Orbit 4 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_4.jpg' %}" alt="slide 4" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "supports knowledge sharing and evidence-based decision-making" %}</p>
            </div>
          </li>
          {# Orbit 5 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_5.jpg' %}" alt="slide 5" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "welcomes you to join!" %}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="row large-no-gutters home-main">

<div class="small-12 columns">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation accordion-about-wocat">
      <a href="#about-wocat">
        {% trans "WOCAT Global SLM Database" %}<svg class="accordion-icon-closed icon-chevron is-inline-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-thin-down"></use></svg><svg class="accordion-icon-opened icon-chevron is-inline-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-thin-up"></use></svg>
      </a>
      <div id="about-wocat" class="content">
        <p class="is-rhythmed-2">
          {% trans "The Global Database on Sustainable Land Management (SLM) of WOCAT (the World Overview of Conservation Approaches and Technologies) provides free access to the documentation of field-tested SLM practices from different places in the world and offers practitioners the opportunity to share their own SLM practices. Due to its long-term presence and wealth of knowledge, WOCAT’s Database has been officially recognized by the" %}
          <a href="https://www.unccd.int/land-and-life/sustainable-land-management-and-restoration/get-involved/unccd-wocat-partnership-slm" target="_blank">UNCCD</a>{% trans " as the primary recommended Global Database for SLM best practices." %}
        </p>
        <p class="is-rhythmed-2">
          <a href="https://www.wocat.net/en/slm" target="_blank">SLM in the context of WOCAT</a>
          is defined as the use of land resources - including soil, water, vegetation and animals -
          to produce goods and provide services to meet human needs, while ensuring the long-term productive potential of these resources and
          sustaining their environmental functions. A SLM practice can be either an
          <a href="https://www.wocat.net/en/global-slm-database/slm-practices-technologies-and-approaches" target="_blank">SLM Technology or an SLM Approach.</a>
        </p>
        <p class="is-rhythmed-2">
          {% trans "The objective of documenting and assessing SLM practices is to share and spread valuable knowledge in land management, support evidence-based decision-making and scale up identified good practices, thereby contributing to preventing and reducing land degradation and to restoring degraded land." %}
        </p>
        <p class="is-rhythmed-2">
          <a href="{% url 'wocat:help_questionnaire_introduction' %}" class="link">{% trans 'Read more about the WOCAT documentation of SLM practices.' %}</a>
        </p>
      </div>
    </li>
  </ul>
</div>
</section>

<section class="row large-no-gutters home-main">
<div class="small-12 columns">
  <div class="link-unccd-learning-material">
    <a href="https://www.wocat.net/library/media/60/" target="_blank">{% trans "Information for UNCCD Parties" %}</a>
  </div>
</div>
</section>

<section class="row large-no-gutters home-main">
  <div style=" display: -webkit-flex;
    display: flex;">
    <div style="
    margin: 10px;
    padding: 10px" class="medium-9 columns">
    {% leaflet_map "slmmap" callback="main_map_init" %}

     <script type="text/javascript">
          function main_map_init (map, options) {

              var appMarkers = L.markerClusterGroup(
              {
                chunkedLoading: true,
                iconCreateFunction: function(cluster) {
		            return L.divIcon(
		            {
		              html: '<span>' + cluster.getChildCount() + '</span>',
		              className: 'marker-cluster-approaches '
		             });
	              }
               });
              var techMarkers = L.markerClusterGroup(
              {
                chunkedLoading: true,
                iconCreateFunction: function(cluster) {
		            return L.divIcon(
		            {
		              html: '<span>' + cluster.getChildCount() + '</span>',
		              className: 'marker-cluster-technology '
		             });
	              }
               });

              var dataurl = '{% url 'slm_places' %}';

              $.ajax({
                url: dataurl,
                dataType: 'json',
                beforeSend: function(xhr){
                  if(xhr.overrideMimeType){
                     xhr.overrideMimeType("application/json");
                   }
                 },
                success: function(data){
                  data.forEach(function(item){
                    if(item.code.includes('approaches')){
                      var myIcon = L.icon({
                            iconUrl: '{% static 'assets/img/approach.png' %}',
                            iconSize: [32, 37],
                            iconAnchor: [16, 37],
                            popupAnchor: [0, -28]
                            });

                            var geometry = JSON.parse(item.geojson).geometries;

                            geometry.forEach(function(geoitem){
                              var latlng = new L.latLng(geoitem.coordinates[1], geoitem.coordinates[0]);
                              appMarkers.addLayer(L.marker(latlng, {icon: myIcon})
                              .bindPopup('<h4><a target="_blank" href="approaches/view/'+item.code+'">'+item.name+'</a></h4><p>'+item.definition+'</p><p>'+item.qg_location+'</p>'))
                            });

                    }else{
                          var myIcon = L.icon({
                            iconUrl: '{% static 'assets/img/technology.png' %}',
                            iconSize: [32, 37],
                            iconAnchor: [16, 37],
                            popupAnchor: [0, -28]
                            });

                            var geometry = JSON.parse(item.geojson).geometries;

                            geometry.forEach(function(geoitem){
                              var latlng = new L.latLng(geoitem.coordinates[1], geoitem.coordinates[0]);
                              techMarkers.addLayer(L.marker(latlng, {icon: myIcon})
                              .bindPopup('<h4><a target="_blank" href="technologies/view/'+item.code+'">'+item.name+'</a></h4><p>'+item.definition+'</p><p>'+item.qg_location+'</p>'))
                            });


                    }

                  })
                },
                error: function(data,status,error){
                  console.log(error)
                }
              });

              map.addLayer(appMarkers);
              map.addLayer(techMarkers);
              map.invalidateSize();
          }
      </script>
  </div>
    <div style="

    margin: 10px;
    padding: 10px" class="small-12 medium-3 columns">
    <div class="home-keynumbers-container">
      <h3 class="keynumbers-heading">{% trans "Key Numbers" %}</h3>
      <div class="home-keynumbers-content">
        <img src="{% static 'assets/img/ajax-loader.gif' %}">
      </div>
    </div>
  </div>
  </div>
</section>

<main class="home-main row large-no-gutters" role="main">
  <div class="small-12 medium-12 columns">
    <div class="tabs-content">
      <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
        <div class="home-search">
          <div class="row">
            <div class="small-10 small-centered medium-12 columns">
              {% include "wocat/partial/search.html" with current="wocat" %}
            </div>
          </div>
        </div>
        <div class="row is-flex card-row">
          {# Technologies #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="{% url 'wocat:questionnaire_list' %}?type=technologies">
                <div class="card-image-holder">
                    <img class="card-image" src="{% static 'assets/img/card_slm_technologies.jpg' %}">
                  <span class="card-image-overlay-container">
                    <div class="card-image-overlay is-tech">
                      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-technology"></use></svg>
                    </div>
                  </span>
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "SLM Technologies" %}</h2>
                <p class="card-desc">{% trans "An <strong>SLM Technology</strong> is a land management practice that controls land degradation and enhances productivity and/ or other ecosystem services." %}</p>
                <a href="{% url 'wocat:questionnaire_list' %}?type=technologies" class="button large expand">{% trans "View" %}</a>
                <a href="{% url 'wocat:add' %}" class="button large expand">{% trans "Add" %}</a>
              </div>
            </div>
          </div>
          {# Approaches #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="{% url 'wocat:questionnaire_list' %}?type=approaches">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_slm_approaches.jpg' %}">
                  <span class="card-image-overlay-container">
                    <div class="card-image-overlay is-approach">
                      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-approach"></use></svg>
                    </div>
                  </span>
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "SLM Approaches" %}</h2>
                <p class="card-desc">{% trans "An <strong>SLM Approach</strong> defines the ways and means used to implement an SLM Technology, including the stakeholders involved and their roles." %}</p>
                <a href="{% url 'wocat:questionnaire_list' %}?type=approaches" class="button large expand">{% trans "View" %}</a>
                <a href="{% url 'wocat:add' %}" class="button large expand">{% trans "Add" %}</a>
              </div>
            </div>
          </div>
          {# UNCCD #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="{% url 'wocat:questionnaire_list' %}?type=unccd">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_unccd.jpg' %}">
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "UNCCD Prais Practices" %}</h2>
                <p class="card-desc">{% trans "A UNCCD PRAIS Practice is a best practice in SLM, as previously shared through the UNCCD PRAIS system in the UNCCD reporting process." %}</p>
                <a href="{% url 'wocat:questionnaire_list' %}?type=unccd" class="button large expand">
                  {% trans "View" %}
                </a>
                <a href="{% url 'wocat:add' %}" class="button large expand">{% trans "Add" %}</a>
              </div>
            </div>
          </div>

          {# Carbon Benefits Project / CBP #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="https://banr.nrel.colostate.edu/CBP/" target="_blank">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_cbp.png' %}" title="Click to Visit the CBP Tools Page" alt="Click to Visit the CBP Tools Page">
                  <span class="card-image-overlay-container">
                    <div class="card-image-overlay is-cbp">
                      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cbp"></use></svg>
                    </div>
                  </span>
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "Carbon Benefits Project" %} (CBP)</h2>
                <p class="card-desc">{% trans "Tools for assessing the carbon benefits and greenhouse gas emissions of an SLM Technology." %}</p>
<!--                <a href="https://banr.nrel.colostate.edu/CBP/" class="button large expand">{% trans "Visit CBP Tools Page" %}</a>-->
                <a href="{% url 'wocat:questionnaire_list' %}?type=cbp" class="button large expand">
                  {% trans "View" %}
                </a>
              </div>
            </div>
          </div>

          {# Gender #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="{% url 'wocat:questionnaire_list' %}?type=unccd">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_unccd.jpg' %}">
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "Gender" %}</h2>
                <a href="{% url 'wocat:questionnaire_list' %}?type=unccd" class="button large expand">{% trans "View" %}</a>
              </div>
            </div>
          </div>
          {# Economics #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="{% url 'wocat:questionnaire_list' %}?type=unccd">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_unccd.jpg' %}">
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "Economics" %}</h2>
                <a href="{% url 'wocat:questionnaire_list' %}?type=unccd" class="button large expand">
                  {% trans "View" %}
                </a>
              </div>
            </div>
          </div>
          {# Sand, Dust, Storm and Drought #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="{% url 'wocat:questionnaire_list' %}?type=unccd">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_unccd.jpg' %}">
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "Sand, Dust, Storm and Drought" %}</h2>
                <a href="{% url 'wocat:questionnaire_list' %}?type=unccd" class="button large expand">
                  {% trans "View" %}
                </a>
              </div>
            </div>
          </div>
          {# Land Degradation Neutrality Tools #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="{% url 'wocat:questionnaire_list' %}?type=unccd">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_unccd.jpg' %}">
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "Land Degradation Neutrality Tools" %}</h2>
                <a href="{% url 'wocat:questionnaire_list' %}?type=unccd" class="button large expand">
                  {% trans "View" %}
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

{% addtoblock 'js' %}
  {% compress js %}
    <script>
      $(function() {
        $.get('{% url 'facts_teaser' %}', function(data) {
          $('.home-keynumbers-content').html(data);
        });
      });
    </script>
  {% endcompress %}
{% endaddtoblock %}
{% endblock %}
