---
layout: default.hbs
---

{{!-- Header --}}
<header class="page-header inner-wrap" role="banner">
  {{> header_guide}}
</header>

{{!-- Body --}}
<main class="main inner-wrap" role="main">
  {{> body}}
</main>